*{
  margin: 0;
  padding: 0 ;
}

.navbg{
    background: url('/src/assets/Navbar.png');
    background-size: cover;
}
.manbg{
  background: url('/src/assets/Manager.jpg');
  /* background-size: auto; */
  
}

/* .pay{
  margin-top: 25%;
  background: url('/src/assets/Paymentbg.jpg');
  background-size: contain;
} */